/* Define gradient styling for the .gradient-custom-2 class */
.gradient-custom-2 {
  /* Fallback for older browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #229799, #1a7e7e, #146d6d, #0f5c5c);

  /* Modern browsers (W3C standard) */
  background: linear-gradient(to right, #229799, #1a7e7e, #146d6d, #0f5c5c);
}

/* Media query for devices with a minimum width of 768px */
@media (min-width: 768px) {
  /* Adjust the height of the .gradient-form class to occupy full viewport height */
  .gradient-form {
    height: 100vh !important;
  }
}

/* Media query for devices with a minimum width of 769px */
@media (min-width: 769px) {
  /* Add border-radius to the top-right and bottom-right corners of the .gradient-custom-2 class */
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
