<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace ="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-90">
        <div class="row d-flex justify-content-center align-items-center h-90">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black ">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="/images/logo_smart_connect_.png"
                                         style="width: 185px;" alt="logo">

                                </div>

                                <form id="login-form" class ="form"  th:action="@{/dologin}" method="post">
                                    <div th:if="${param.error}" class="alert alert-danger">
                                        Invalid username or password
                                    </div>

                                    <div th:if="${param.Logout}" class="alert alert-danger">
                                        you have been logged out
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="username" class="form-control"
                                               placeholder="Phone number or email address" name="username" />
                                        <label class="form-label" for="username">Username</label>
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control" name="password" />
                                        <label class="form-label" for="password">Password</label>
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button href="/user/index" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                                            in</button>
                                        <a class="text-muted" href="#!">Forgot password?</a>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center pb-4">
                                        <p class="mb-0 me-2">Don't have an account?</p>
                                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger"><a href="/signup">Create new </a></button>
                                    </div>

                                </form>

                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4">Start with Smart Connect</h4>
                                <p class="medium mb-2"> Intuitive app designed to help users efficiently manage and organize their contacts. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
